<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<head th:fragment="bootstrap">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <script src="/js/bootstrap.js"></script>
</head>
<body>
    <div th:fragment="navbar">
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <a href="/" class="navbar-brand">ToDoList</a>
                <div class="d-flex">
                    <a th:if="${ session.account == null }" href="/login" class="btn btn-success me-2">로그인</a>
                    <a th:if="${ session.account != null }" href="/logout" class="btn btn-danger me-2">로그아웃</a>
                    <a href="/signup" class="btn btn-secondary">회원가입</a>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>