<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<head th:fragment="bootstrap">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap.icon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- <script src="/js/weather.js"></script> -->
</head>
<body>
    <div th:fragment="navbar">
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <a href="/" class="navbar-brand">ToDoList</a>
                <div class="d-flex">
                    <a th:if="${ session.account == null }" href="/login" class="btn btn-success me-2">로그인</a>
                    <a th:if="${ session.account != null }" href="/logout" class="btn btn-danger me-2">로그아웃</a>
                    <a th:if="${ session.account == null }" href="/signup" class="btn btn-secondary">회원가입</a>
                    <a th:if="${ session.account != null }" href="/user" class="btn btn-secondary">내정보</a>
                </div>
            </div>
        </nav>
    </div>

    <footer th:fragment="footer" class="footer mt-auto py-3 bg-dark">
        <div class="container">
            <span class="text-muted">Copyright (C) 2021 lm, mm ALL RIGHT RESERVED</span>
        </div>
    </footer>
</body>
</html>