html, body, .container {
  height: -webkit-fill-available;
  background: lightgrey;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  width: 20rem;
  padding: 1rem;
  background: white;
  border-radius: 1rem;
  box-shadow: 0 1px 10px #777;
  transition: transform .3s;
}
form:hover {
  transform: rotate(1deg);
}